parameters:
    level: 4
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - src

    scanDirectories:
        - app/src
        - vendor/silverstripe/framework/src
        - vendor/silverstripe/cms/code
        - vendor/dnadesign/silverstripe-elemental/src
        - vendor/lekoala/silverstripe-cms-actions/src

    ignoreErrors:
        # SilverStripe config properties are read by the Config API, not direct PHP access
        - '#Static property .+ is never read, only written\.#'
        # Form field methods available via SilverStripe magic accessors
        - '#Call to an undefined method SilverStripe\\Forms\\FormField::(insertAfter|setFolderName|setAllowedFileCategories|setTypes)#'
        # DataObject dynamic methods from extensions
        - '#Call to an undefined method SilverStripe\\ORM\\DataObject::getElementalRelations#'
        # ElementalArea is added dynamically by ElementalPageExtension, not on SiteTree directly
        - '#Call to an undefined method SilverStripe\\(ORM\\DataObject|CMS\\Model\\SiteTree)::ElementalArea\(\)#'
        # Return type mismatch due to DataObject::create returning DataObject
        - '#Method .+::findOrCreateElementalArea\(\) should return .+ but returns SilverStripe\\ORM\\DataObject#'
        # PHPDoc @var above method has no effect
        - '#PHPDoc tag @var above a method has no effect#'
        # PHPDoc contains unknown class for extension owner type hints
        - '#PHPDoc tag @property .+ contains unknown class SilverStripe\\CMS\\Controllers\\CMSPageAddController#'
        # TemplatePickerField::getTemplates return type vs parent (ArrayList is a subtype of array-like)
        - '#Return type \(SilverStripe\\Model\\List\\ArrayList\) of method .+::getTemplates\(\) should be compatible with return type \(array\) of method .+::getTemplates\(\)#'
        # Methods added by BaseElementDataExtension to BaseElement via extension
        - '#Call to an undefined method DNADesign\\Elemental\\Models\\BaseElement::(setSkipPopulateData|setResetAvailableGlobally)\(\)#'
